<!DOCTYPE html>
{% extends 'udtApp/base.html' %}
<html lang="en">
{% block content %}

<style>
  .list-group-item {
    font-size: 18px;
    padding: 15px;
  }

  .pagination {
    margin-top: 20px;
  }

  .page-link {
    color: #007bff;
  }

  .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
  }
</style>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Entities Page</title>
</head>
<body>
    {% load custom_filters %}
    <h1>Entity List</h1>
     <!-- Form for filter type -->
    <form method="GET" action="">
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="type" class="form-label">Filter by Type:</label>
                <select id="type" name="type" class="form-select"  onchange="this.form.submit()" >
                    <option value="">Any Type</option>
                    {% for type in device_types %}
                        <option value="{{ type|split_and_get_last:'/' }}" {% if request.GET.type == type|split_and_get_last:'/' %}selected{% endif %}>
                    {{ type|split_and_get_last:'/' }}
                </option>
                    {% endfor %}
                </select>
            </div>
<!--            <div class="col-md-2 d-flex align-items-end">-->
<!--                <button type="submit" class="btn btn-primary">Filter</button>-->
<!--            </div>-->
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            {% for d in page_obj %}
                {% with id=d|get_item:"_id"|get_item:"id" %}
                    <tr>
                        <td>
                            <a href="{% url 'entity' id %}">
                                {{ id }}
                            </a>
                        </td>
                        <td>
                            {{ d|get_item:"_id"|get_item:"type"|extract_type }}
                        </td>

                        <td>
                        {{ d.modDate|format_timestamp }}  <!-- using format function to reshape timestamp -->
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination navbar -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&type={{ request.GET.type }} " aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          <li class="page-item {% if page_obj.number == num %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}&type={{ request.GET.type }}">{{ num }}</a>
          </li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&type={{ request.GET.type }} " aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
</body>
{% endblock content %}
</html>