<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Simulation</title>
</head>
<body>
{% extends 'udtApp/base.html' %}

{% block content %}

<div class="container mt-4">
    <!-- Aggiungi una select box per filtrare tra 'basic' e 'congestioned' -->
    <form method="get" action="{% url 'simulation' %}">
        <label for="date">Select the date:</label>
        <input type="date" id="date" name="date" value="{{ selected_date|default:default_date }}" onchange="this.form.submit()">

    <label for="start_time">Select starting hour:</label>
    <select name="start_time" id="start_time" onchange="checkTimes(); this.form.submit()">
    {% for hour in hours %}
        <option value="{{ hour }}"
        {% if selected_start_time == hour %}selected{% endif %}>
        {{ hour }}
        </option>
    {% endfor %}
    </select>


    <label for="end_time">Select ending hour:</label>
    <select name="end_time" id="end_time" onchange="checkTimes(); this.form.submit()">
    {% for hour in hours %}
        <option value="{{ hour }}"
            {% if selected_end_time == hour %}selected{% endif %}>
            {{ hour }}
        </option>
    {% endfor %}
    </select>

    <p id="time-error" style="color: red;"></p>
    <script>
        function checkTimes() {
            const startSelect = document.getElementById("start_time");
            const endSelect = document.getElementById("end_time");
            const errorElement = document.getElementById("time-error");

            const startTime = startSelect.value;
            const endTime = endSelect.value;

            if (startTime > endTime) {
                const startHour = parseInt(startTime.split(':')[0]);
                const nextHour = (startHour + 1) % 24; // Take the next hour

                endSelect.value = (nextHour < 10 ? '0' : '') + nextHour + ':00'; // Set enting hour

                errorElement.textContent = "The end time was automatically updated.";
            }
        }
    </script>

        <div class="form-group">
            <label for="type">Select scenario type:</label>
            <select name="type" id="type" class="form-control" onchange="this.form.submit()">
                <option value="basic" {% if selected_type == 'basic' %}selected{% endif %}>Basic</option>
                <option value="congestioned" {% if selected_type == 'congestioned' %}selected{% endif %}>Congestioned</option>
            </select>
        </div>
    </form>

    <div class="row">
        {% for folder in folders %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="/path/to/placeholder.png" class="card-img-top" alt="Immagine della cartella">
                <div class="card-body">
                    <h5 class="card-title">{{ folder }}</h5>
                    <a href="{% url 'serve_image' folder=folder %}?type={{ selected_type }}" class="btn btn-primary">View graphs</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No folder found with the selected criteria.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
</body>
</html>