pandas==2.2.2
ngsildclient==0.5.2
requests~=2.32.3
libtraci~=1.19.0
traci~=1.20.0
psycopg2==2.9.9
geojson~=2.5.0
django~=4.1.13
mongoengine==0.29.1
pymongo~=4.10.1
scipy~=1.14.1
pytz~=2024.1
pillow~=10.4.0
matplotlib~=3.9.2
pyproj~=3.7.0